@tailwind base;
@tailwind components;
@tailwind utilities;

.spinner {
	border-radius: 50%;
	animation: spinner 1s ease-in-out infinite;
}

@keyframes spinner {
	to {
		transform: rotate(360deg);
	}
}
